body {
  background-color: royalblue;
}

h1 {
  color: white;
  font-family: "Courier New";
}

h2 {
  color: white;
  font-family: "Courier New";
}

p {
  color: white;
  font-family: "Courier New";
  font-size: 16px;
}

footer > p {
  color: darkgrey;
  font-family: "Times New Roman";
}

#grid-container {
  display: grid;
  grid-template-columns: 210px 210px;
}

figure {
  display: flex;
  flex-direction: column;
  width: auto;
  border: 2px solid white;
  padding: 5px;
  margin: 10px;
}
